.rotas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.item-rotas{
    width: 100%;
    text-align: center;    
}

.item-rotas>a{
    text-decoration: none;
}